# Environnement virtuel Python (ne pas versionner)
venv/

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs & fichiers temporaires
*.log
*.tmp

# Fichiers système (Windows/macOS)
.DS_Store
Thumbs.db

# Configuration spécifique à VS Code (optionnel)
.vscode/

# Environnements virtuels spécifiques à certains outils
.env
.env.*
